/*  Search bar */
*{
  font-family: "Raleway", sans-serif;
}

body{
  margin: 0 auto;
  padding: 0;
  background: #9ccef4;
  text-align: center;
}

.container-header{
  padding: 1.5rem;
  background-color: #759eda;
  text-align: left;
}
input{
  background: #759eda;
  font-size: 1.2rem;
  outline: 0;
  color: white;
  border: none;
  padding: 5px;
  margin-right: 50px;
}
input:focus{
  border-bottom: 1px solid rgb(81, 126, 168);
}
::placeholder {
  color: rgb(255, 255, 255);
}

button{
  font-size: 1.2rem;
  background: #5879c7;
  padding: 10px 15px;
  border: none;
}

button:focus-visible{
  outline: none;
}

/* Current weather */

.weather-today{  
  margin: 0 auto;
  padding: 2rem 2rem 0rem 2rem;
  line-height: 1.4rem;
  color:rgb(10, 10, 73);
  line-height:2rem;
}

span{
  font-weight:bold;
} 

.change-sizing{
font-size: 12px;
word-spacing: 8px;
}
.spacing{
  margin-right: 10px;
}

.overcast{
  color: white;
}

/*weather of the week*/
.week-weather{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 6rem;
  }

  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  time{
    margin: 5px;
  }
